.w100{
    width: 100%;
}

.buttons {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    background-color: lightgrey;
    /* margin-left:1em;
    margin-bottom: 10px; */
    margin-top: 20px;
    /* margin-left: ($spacer * .25) !important; */
  }
  
  .buttons:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: grey;
  }
  :host ::ng-deep .ck-editor__editable_inline {
    min-height: 100px;
}