/* your-component.component.css */
:host {
  user-select: none; /* Disable text selection */
}

.overall {
  cursor: not-allowed;
}
.fixed-column {
  position: sticky;
  top: 0;
  height: 100vh; /* Adjust the height to your preference */
  overflow-y: auto;
}

