.icon-title-spacing {
    margin-right: 14px; /* Adjust the spacing as needed */
  }
  
  /* .category-item {
    display: flex;
    align-items: center;
  }
  
  
  .category-title {
    flex-grow: 1;
  }*/
  
  .category-description {
    margin-left: auto;
    color: gray;
  } 

  .item-wrapper {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  .category-item {
    display: flex;
    align-items: center;
  }
  
  .icon-wrapper {
    margin-right: 16px; /* Adjust the margin as needed */
  }
  
  .category-content {
    flex-grow: 1;
  }
  .min-h-screen-80 {
    min-height: 80vh;
  }

  .button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    background-color: lightgrey;
  }
  
  .button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: grey;
  }
  
  /* Rest of your existing styles */
  
  

  