.w100{
    width: 100%;
}
.button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    background-color: lightgrey;
  }
  
  .button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: grey;
  }
  .min-h-screen-80 {
    min-height: 80vh;
  }